:root {
  --raise-my-hand-yellow: #ffd43b;
  --raise-my-hand-red: #ff0000;
}

#raise-my-hand-notification-popup {
  width: min(50vw, 50vh);
  height: calc(min(50vw, 50vh) + var(--header-height));
  
  header {
    i {
      &.fa-hand-paper {
        color: var(--raise-my-hand-yellow);
      }
      
      &.fa-times {
        color: var(--raise-my-hand-red);
      }
    }
  }
  
  section {
    overflow: hidden;
    padding: 0;

    .notification-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .notification-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .notification-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background: rgba(0, 0, 0, 0.65);
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      font-size: 2rem;
      font-weight: 600;
      color: white;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    }
  }
}

/* Chat message styling for hand raise */
.raise-my-hand-msg {
  h3 {
    font-size: var(--font-size-28);
    color: var(--color-warm-3);
    margin: 0;
  }

  h4 {
    font-size: var(--font-size-16);
    margin: 0;
  }

  img {
    vertical-align: middle;
  }
}

/* Hand emoji indicator in player list */
.raise-my-hand-indicator {
  margin-left: 0.3em;
  color: var(--raise-my-hand-yellow);
  font-size: 1.1em;

  &::before {
    content: var(--fa);
  }
}

/* Color the Raise My Hand icon yellow */
button.control.tool[data-tool="raise-hand"] {
  color: var(--raise-my-hand-yellow);
  font-size: 1.15em;
}

/* Color the X-Card icon red */
button.control.tool[data-tool="x-card"] {
  color: var(--raise-my-hand-red);
  font-size: 1.6em;
}